:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --heading-font: "Times New Romans", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main {
    width: 840px;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: #d8cfff;

    padding: 1rem;
}

header img {
    max-width: 120px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 18px;

}

p {
    margin: 1rem;
    padding: 2.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 2.5rem;
    /* background-color: #fff; */

}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent1-color);

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    margin-left: 0.5rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    /* opacity: 0.7; */
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.7;
    /* background-color: var(--accent1-color); */
    color: rgb(87, 9, 9);
    font-size: 1.5rem;
    font-weight: 700;

}

.hero article img {
    float: right;
    width: 150px;
    margin: 50px 20px;

}

.history {
    margin: 2rem;
}

.history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.content-history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    gap: 1rem;
}

.content-history img {
    width: 100%;
    border-radius: 4px;
}

.adventures h2 {
    text-align: center;
    /* margin-bottom: 1rem; */
}

.adventure-gallery {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.adventure-gallery figure {
    flex: 1;
    /* text-align: center; */
}

.adventure-gallery img {
    width: 100%;
    height: auto;
}

.adventure-gallery figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8cfff;
    padding: 1rem;
    margin-top: 2rem;
}