:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --heading-font: "Times New Romans", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
section,
footer,
.adventures,
.contact-section {
    width: 900px;
    margin: 0 auto;

}

header {
    /* display: grid; */
    /* grid-template-columns: 150px 1fr; */
    align-items: center;
    /* background-color: #d8cfff; */

    padding: 1rem;
}

header img {
    max-width: 120px;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 20px;
    padding: 20px;

}

p {
    margin: 1rem;
    padding: 2.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 2.5rem;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid rgb(0 0 0 / 100%);

    /* background-color: #fff; */

}

nav a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: var(--accent1-color);

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    margin-left: 0.5rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    /* opacity: 0.7; */
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.7;
    /* background-color: var(--accent1-color); */
    color: rgb(87, 9, 9);
    font-size: 1.5rem;
    font-weight: 700;

}

.hero article img {
    float: right;
    width: 150px;
    margin: 50px 20px;

}

h2 {
    font-size: 2rem;
    margin: 3.5rem;
}

.history {
    margin: 2rem;
}

.history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.content-history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    gap: 1rem;
}

.content-history img {
    width: 100%;
    border-radius: 4px;
}

.adventures h2 {
    text-align: center;
    /* margin-bottom: 1rem; */
}

.adventure-gallery {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.adventure-gallery figure {
    flex: 1;
    /* text-align: center; */
}

.adventure-gallery img {
    width: 100%;
    height: auto;
}

.adventure-gallery figcaption {
    margin-top: 0.5rem;
    font-size: 1.9rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8cfff;
    padding: 1rem;
    margin-top: 2rem;
}

.site {
    background-color: #a8b8d8;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

/* .logo {
    width: 80px;
    height: 50px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: bold;
} */

/* .links {
    list-style: none;
    display: flex;
    gap: 15px;

}

.links a {
    text-decoration: none;
    padding: 8px 14px;
    background-color: #fff;
    color: #333;
    border-radius: 4px;

} */
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-left: 40px;

}

.info p a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.map {
    display: block;
    /* align-items: center;
    justify-content: center;
    font-size: 1.2rem; */
    height: 420px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.info {
    text-align: center;
    padding: 10px 10px;

}

.info p {
    padding: 2px;
}

.info-h1 {
    margin-bottom: 10px;
}

/* .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px;
} */

.contact-form {
    background: #d6dcec;
    padding: 20px;
    border-radius: 5px;
    width: 100%;

}

.form-row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: start;
    margin-bottom: 15px;
    margin: auto;
}

.form-row label {
    font-size: 0.9rem;
    color: #444;
    padding-top: 8px;
}

input[types="text"],
input[types="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    margin-top: 3px;
    font-size: 0.9rem;
}

textarea {
    height: 90px;
    resize: none;
}

.options label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 6px;
}

.checkbox-row {
    align-items: center;
}

.checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    padding: 10px;
    width: 100%;
    border: none;
    background: #6c85b7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}