:root {
    --primary-color: #055a05;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header,
main,
footer,
.adventures,
.contact-section {
    width: 900px;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: #d8cfff;

    padding: 1rem;
}

header img {
    max-width: 120px;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* nav,
article {
    margin: 20px;
    padding: 20px;

} */

section {
    margin: 5px 0;
    padding: 60px 20px;

}

p {
    margin: 10px 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 2.5rem;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid rgb(0 0 0 / 100%);

    /* background-color: #fff; */

}

nav a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: var(--accent1-color);

}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    display: flex;
    width: 30px;
    margin-left: 0.5rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    /* opacity: 0.7; */
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 3rem;
}

.hero article {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.7;
    /* background-color: var(--accent1-color); */
    color: rgb(87, 9, 9);
    font-size: 1.5rem;
    font-weight: 700;

}

.hero article img {
    float: right;
    width: 150px;
    margin: 50px 20px;

}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

}

.history {
    margin: 2rem;
}

.history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.content-history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    gap: 1rem;
}

.content-history img {
    width: 100%;
    border-radius: 4px;
}

.adventures h2 {
    text-align: center;
    /* margin-bottom: 1rem; */
}

.adventure-gallery {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.adventure-gallery figure {
    flex: 1;
    /* text-align: center; */
}

.adventure-gallery img {
    width: 100%;
    height: auto;
}

.adventure-gallery figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8cfff;
    padding: 1rem;
    margin-top: 0;
}

.site {
    background-color: #a8b8d8;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

/* .logo {
    width: 80px;
    height: 50px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: bold;
} */

/* .links {
    list-style: none;
    display: flex;
    gap: 15px;

}

.links a {
    text-decoration: none;
    padding: 8px 14px;
    background-color: #fff;
    color: #333;
    border-radius: 4px;

} */
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-left: 40px;

}

.info a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.map {
    display: block;
    /* align-items: center;
    justify-content: center;
    font-size: 1.2rem; */
    height: 420px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.info {
    text-align: center;
    padding: 10px 10px;

}

.info p {
    padding: 2px;
}

.info-h1 {
    margin-bottom: 10px;
}

/* .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 40px;
} */

.contact-form {
    background: #d6dcec;
    padding: 20px;
    border-radius: 5px;
    width: 100%;

}

.form-row {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: start;
    margin-bottom: 15px;
    margin: auto;
}

.form-row label {
    font-size: 0.9rem;
    color: #444;
    padding-top: 8px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    margin-top: 3px;
    font-size: 0.9rem;
}

textarea {
    height: 90px;
    resize: none;
}

.options label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 6px;
}

.checkbox-row {
    align-items: center;
}

.checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    padding: 10px;
    width: 100%;
    border: none;
    background: #6c85b7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

/* home page */
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 60px 20px;
    background-color: #f8f9f4;

}

.home-grid img {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    object-fit: cover;
}

.home-grid img:hover {
    transform: scale(1.05);

}

.home-grid p {
    color: #333;
    line-height: 1.6;

}

.home-grid h2 {
    color: #1b4332;
    font-weight: 700;
    margin: 0 0 1rem 0;
}

.submit {
    width: 30%;
    display: block;
    margin: 2rem auto;
    text-align: center;
    background-color: #1f3c88;
    ;
    font-size: 1.5rem;
    border-radius: 5px;
    color: white;

}

.newsletter-form {
    display: block;
    margin-bottom: 15px;
    border-radius: 4px;
    background: #d6dcec;
    padding: 12px;
    width: 100%;
}

.newsletter h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #1f3c88;
    font-weight: 700;

}

.cta h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #1f3c88;

}

.cta a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    width: 30%;
    font-size: 1.5rem;
    color: white;

}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    font-weight: 500;
}

.form-group input {
    flex: 1;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;

}

.form-group input:focus {
    outline: none;
    border-color: #1f3c88;
    box-shadow: 0 0 5px rgba(31, 60, 136, 0.2);
}

.submit:hover {
    background-color: #162d66
}

/* trips */
.trip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.trip img {
    width: 100%;
}

.trip-table table {
    border-collapse: collapse;
    border: 1px solid rgb(140 140 140 / 10%);
    letter-spacing: 1px;
    margin-bottom: 0;
    width: 100%;

}

.trip-table h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

th,
td {
    border: 2px solid rgb(150 150 150);
    padding: 8px 12px;
    text-align: center;

}

thead {
    background-color: var(--accent1-color);
    color: white;
    font-weight: 700;
    /* text-align: center; */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action {
    text-align: center;
    padding: 1rem;

}

.trip {
    background-color: #f5f5f5;
    padding: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.trip:hover {
    transform: scale(1.05);
}

.button {
    display: inline-block;
    background-color: var(--accent1-color);
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;

}

.button:hover {
    background-color: #0330d3;
}

.action p {
    font-size: 1.5rem;
    margin: 1rem;
    color: black;

}

.hero p {
    text-align: center;

}